body {
    background-color: skyblue;
}
.footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: gray;
        color: white;
}
.tit{
	background-color: gray;
	text-align: center;
	align-items: center;
}
.nav{
	background-color: gray;
}
.rem{
	background-color: pink;

}
.active{
	background-color: lightgray;
}
