body {
    background-color: skyblue;
}
.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: skyblue;
        color: white;
}